<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deezer</title>
    <link rel="shortcut icon" href="../assets/img/musica.png" type="image/x-icon">
    <link rel="stylesheet" href="../css//bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <div class="container-fluid">
        <h3 class="px-3 mt-5">Bohemian Rapsody</h3>
        <div class="row">
            <div class="col-12 col-md-10">
                <section class="shadow-sm p-3 mb-5 bg-body rounded" id="info">
                    <h4 class="text-info">Acerca de esta canción</h4>
                    <p class="text-secondary font-monospace">
                        Is this the real life?<br>
                        Is this just fantasy?<br>
                        Caught in a landside,<br>
                        No escape from reality<br>
                        Open your eyes,<br>
                        Look up to the skies and see,<br>
                        I'm just a poor boy, I need no sympathy,<br>
                        Because I'm easy come, easy go,<br>
                        Little high, little low,<br>
                        Any way the wind blows doesn't really matter to<br>
                        Me, to me<br>
                        Mamaaa,<br>
                        Just killed a man,<br>
                        Put a gun against his head, pulled my trigger,<br>
                        Now he's dead<br>
                        Mamaaa, life had just begun,<br>
                        But now I've gone and thrown it all away<br>
                        Mama, oooh,<br>
                        Didn't mean to make you cry,<br>
                        If I'm not back again this time tomorrow,<br>
                        Carry on, carry on as if nothing really matters<br>
                        Too late, my time has come,<br>
                        Sends shivers down my spine, body's aching all<br>
                        The time<br>
                        Goodbye, everybody, I've got to go,<br>
                        Gotta leave you all behind and face the truth<br>
                        Mama, oooh<br>
                        I don't want to die,<br>
                        I sometimes wish I'd never been born at all.<br>
                        I see a little silhouetto of a man,<br>
                        Scaramouch, Scaramouch, will you do the Fandango!<br>
                        Thunderbolts and lightning, very, very frightening me<br>
                        Galileo, Galileo<br>
                        Galileo, Galileo<br>
                        Galileo, Figaro - magnificoo<br>
                        I'm just a poor boy nobody loves me<br>
                        He's just a poor boy from a poor family,<br>
                        Spare him his life from this monstrosity<br>
                        Easy come, easy go, will you let me go<br>
                        Bismillah! No, we will not let you go<br>
                        (Let him go!) Bismillah! We will not let you go<br>
                        (Let him go!) Bismillah! We will not let you go<br>
                        (Let me go) Will not let you go<br>
                        (Let me go)(Never) Never let you go<br>
                        (Let me go) (Never) let you go (Let me go) Ah<br>
                        No, no, no, no, no, no, nov<br>
                        Oh mama mia, mama mia, mama mia, let me go<br>
                        Beelzebub has a devil put aside for me, for me,<br>
                        For meee<br>
                        So you think you can stop me and spit in my eye<br>
                        So you think you can love me and leave me to die<br>
                        Oh, baby, can't do this to me, baby,<br>
                        Just gotta get out, just gotta get right outta here<br>
                        Nothing really matters, Anyone can see,<br>
                        Nothing really matters,<br>
                        Nothing really matters to me<br>
                        Any way the wind blows...<br>
                    </p>
                </section>
                <section id="video" class="text-center">
                    <div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uCVDd0wMYXk"></iframe>
                    </div>
                </section>
            </div>
            <div class="col-12 col-md-2 text-center ">
                <div class="card sticky-top">
                    <div class="card-body">
                        <h5 class="card-title">Menú</h5>
                        <hr>
                        <a href="#info" class="btn btn-primary">Información</a>
                        <hr>
                        <a href="#video" class="btn btn-primary">Ver vídeo</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/bootstrap.min.js"></script>
        <script>
            feather.replace()
        </script>
</body>

</html>